@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
  margin: 0;
  padding:0;
}
header{
  height: 100px;
  background: rgba(0,0,0,0.7);
  width: 100%;
  position: fixed;
  z-index: 12;
}
.logo{
  font-family: 'Aclonica', sans-serif;
  font-size: 25px;
  padding: 50px;
  margin-left: 50px;
}
.logo a{
  color: #fff;
  text-decoration: none;
}

.nav_bar{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  float: right;
  list-style: none;
}

.nav_bar li{
  display: inline-block;
}
.nav_bar a{
  padding: 15px;
}

.nav_bar li a:hover{
  background-color: #96ABAB ;
  color: #fff;
  border:1px solid #000;
  border-radius: 5px;
  border-width: auto;
  filter: brightness(70%);
}

.carousel-inner img{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;

}

.box{
  background: rgba(0,0,0,0.5);
  width:100%;
  padding: 25px;
}
.box p{
  text-align: justify;
}
